body 
	{
	background-color: a655f1; 
	}
div#group 
	{	
	margin: 10px auto auto auto;
	width: 800px;
	background-color: bda1d7;
	}
div#top
	{	
	width: 100%;
	height: 80px;
	clear: both;
	font-size: 20pt;
	text-align: center;
	background-color: yellow;
	}
div#menu
	{
	position: absolute;
	background-color: yellow;
	height: 452px;
	width: 150px;
	}
div#main
	{
	left: 150px;
	position: relative;
	background-color: white;
	height: 450px;
	width: 500px;
	}
div#info
	{
	text-align: center;
	cursor: help;
	float: right;
	position: relative;
	top: -400px;
	right: 20px;
	background-color: yellow;
	height: 100px;
	width: 100px;
	}
div#foot
	{
	height: 20px;
	clear: both;
	font-size: 10pt;
	text-align: center;
	background-color: orange;
	}
div.subject
	{
	background-color: a655f1; 
	height: 48px;
	clear: both;
	width: 90%;
	text-align: center;
	font-size: large;
	}
iframe.desk
	{
	width: 100%;
	height: 100%;	
	}
h1	
	{
	font-family: Verdana; 
	font-size: 30pt;
	font-weight: bold;
	color: a655f1; 
	}
a
	{
	text-decoration: none;
	}
font.link
	{
	font-weight: bold;
	color: yellow;
	}
font.info
	{
	font-weight: bold;
	color: a655f1;
	}
font.under
	{
	font-weight: bold;
	color: bda1d7;
	}
	
	
	

	